<h1>3장 Pandas로 데이터 가공하기</h1>

<h2>Pandas 객체 소개</h2>

In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

일련의 값과 인덱스를 모두 감싸고 있음, 각각 values와 index 속성으로 접근 가능

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [38]:
data.index

Int64Index([2, 5, 3, 7], dtype='int64')

In [6]:
data[1]

0.5

In [7]:
data[1:3]

1    0.50
2    0.75
dtype: float64

<b>Series:일반화된 NumPy 배열</b>

In [30]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [31]:
data['b']

0.5

In [32]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2,5,3,7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [33]:
data[5]

0.5

<b>Series:특수한 딕셔너리</b>

In [34]:
popularion_dict = {'Califonia': 38222521,
                  'Texas': 26448193,
                  'New York': 19651127,
                  'Florida': 19552860,
                  'Illinois': 12882135}
population = pd.Series(popularion_dict)
population

Califonia    38222521
Florida      19552860
Illinois     12882135
New York     19651127
Texas        26448193
dtype: int64

In [35]:
population['Califonia']

38222521

In [36]:
population['Califonia':'Illinois']

Califonia    38222521
Florida      19552860
Illinois     12882135
dtype: int64

<b>Series 객체 구성하기</b>

In [40]:
pd.Series(data, index=data.index)

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [20]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [21]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [25]:
pd.Series({2:'a', 1:'b', 3:'c'})

1    b
2    a
3    c
dtype: object

In [26]:
pd.Series({2: 'a', 1:'b', 3:'c'}, index = [3,2])

3    c
2    a
dtype: object

<b>Pandas DataFrame 객체</b>

<b>DataFrame: 일반화된 NumPy 배열</b>

In [44]:
area_dict = {'Califonia': 423967,
            'Texas': 695662,
            'New York': 141297,
            'Florida': 170312,
            'Illinois': 149995}
area = pd.Series(area_dict)
area

Califonia    423967
Florida      170312
Illinois     149995
New York     141297
Texas        695662
dtype: int64

In [45]:
state = pd.DataFrame({'population': population,
                     'area': area})
state

             area  population
Califonia  423967    38222521
Florida    170312    19552860
Illinois   149995    12882135
New York   141297    19651127
Texas      695662    26448193

In [46]:
data = [{'a': i, 'b': 2*i}
       for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [47]:
pd.DataFrame([{'a':1, 'b':2}, {'b':3, 'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [48]:
pd.DataFrame({'population': population, 'area': area})

             area  population
Califonia  423967    38222521
Florida    170312    19552860
Illinois   149995    12882135
New York   141297    19651127
Texas      695662    26448193

In [49]:
pd.DataFrame(np.random.rand(3,2),
            columns=['foo', 'bar'],
            index=['a','b','c'])

        foo       bar
a  0.986355  0.890739
b  0.338057  0.534720
c  0.988224  0.749524

In [51]:
A = np.zeros(3, dtype=[('A', 'i8'),('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [52]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

<b>Pandas Index 객체</b>

In [54]:
ind = pd.Index([2,3,4,7,11])
ind

Int64Index([2, 3, 4, 7, 11], dtype='int64')

<b>index: 불변의 배열</b>

In [56]:
ind[1]

3

In [58]:
ind[::2]

Int64Index([2, 4, 11], dtype='int64')

In [60]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [61]:
ind[1] = 0

TypeError: Index does not support mutable operations

<b>Index: 정렬된 집합</b>

In [62]:
indA = pd.Index([1,3,5,7,9])
indB = pd.Index([2,3,5,7,11])

In [63]:
indA & indB # 교집합

Int64Index([3, 5, 7], dtype='int64')

In [64]:
indA | indB # 합집합

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [65]:
indA ^ indB # 대칭차 (두 집합의 상대 여집합의 합)

Int64Index([1, 2, 9, 11], dtype='int64')