<h1>3장 Pandas로 데이터 가공하기</h1>

<h2>벡터화된 문자열 연산</h2>

#### Pandas 문자열 연산 소개

In [1]:
import numpy as np
x = np.array([2,3,5,7,11,13])
x * 2

array([ 4,  6, 10, 14, 22, 26])

In [2]:
data = ['peter', 'Paul', 'MARY', 'gUIDO']
[s.capitalize() for s in data]

['Peter', 'Paul', 'Mary', 'Guido']

In [3]:
data = ['peter', 'Paul', None, 'MARY', 'gUIDO']
[s.capitalize() for s in data]

AttributeError: 'NoneType' object has no attribute 'capitalize'

In [4]:
import pandas as pd
names = pd.Series(data)
names

0    peter
1     Paul
2     None
3     MARY
4    gUIDO
dtype: object

In [5]:
names.str.capitalize()

0    Peter
1     Paul
2     None
3     Mary
4    Guido
dtype: object

#### Pandas 문자열 메서드 목록

In [6]:
monte = pd.Series(['Graham CHapman', 'John Cleese', 'Terry Gilliam', 'Eric Idle', 'Terry Jones', 'Maichael Palin'])
monte

0    Graham CHapman
1       John Cleese
2     Terry Gilliam
3         Eric Idle
4       Terry Jones
5    Maichael Palin
dtype: object

#### 파이썬 문자열 메서드와 유사한 메서드

<table style="width:100%">
  <tr>
    <td>len()</td>
    <td>lower()</td> 
    <td>translaste()</td>
    <td>islower()</td>
  </tr>
  <tr>
    <td>ljust()</td>
    <td>upper()</td> 
    <td>startswith()</td>
    <td>isupper()</td>
  </tr>
  <tr>
    <td>rjust()</td>
    <td>find()</td> 
    <td>endswith()</td>
    <td>isnumeric()</td>
  </tr>
  <tr>
    <td>center()</td>
    <td>rfind()</td> 
    <td>isalnum()</td>
    <td>isdecimal</td>
  </tr>
  <tr>
    <td>zfill()</td>
    <td>index()</td> 
    <td>isalpha()</td>
    <td>split()</td>
  </tr>
  <tr>
    <td>strip()</td>
    <td>rindex()</td> 
    <td>isdigit()</td>
    <td>rsplit()</td>
  </tr>
  <tr>
    <td>rstrip()</td>
    <td>capitalize()</td> 
    <td>isspace()</td>
    <td>partition()</td>
  </tr>
  <tr>
    <td>istrip()</td>
    <td>swapcase()</td> 
    <td>istitle()</td>
    <td>rpartition()</td>
  </tr>
</table>

In [7]:
monte.str.lower()

0    graham chapman
1       john cleese
2     terry gilliam
3         eric idle
4       terry jones
5    maichael palin
dtype: object

In [8]:
monte.str.len()

0    14
1    11
2    13
3     9
4    11
5    14
dtype: int64

In [9]:
monte.str.startswith('T')

0    False
1    False
2     True
3    False
4     True
5    False
dtype: bool

In [10]:
monte.str.split()

0    [Graham, CHapman]
1       [John, Cleese]
2     [Terry, Gilliam]
3         [Eric, Idle]
4       [Terry, Jones]
5    [Maichael, Palin]
dtype: object

#### 정규 표현식을 활용하는 메서드

<table style="width:100%">
  <tr>
    <th>메서드</th>
    <th>설명</th> 
  </tr>
  <tr>
    <td>match()</td>
    <td>각 요소에 re.match()를 호출, 부울 값을 반환</td> 
  </tr>
  <tr>
    <td>extract()</td>
    <td>각 요소에 re.match()를 호출 문자열로 매칭된 그룹을 변환</td> 
  </tr>
  <tr>
    <td>findall()</td>
    <td>각 요소에 re.findall()을 호출</td> 
  </tr>
  <tr>
    <td>replace()</td>
    <td>패턴이 발생한 곳을 다른 문자열로 대체</td> 
  </tr>
  <tr>
    <td>contains()</td>
    <td>각 요소에 re.search()를 호출, 부울 값을 반환</td> 
  </tr>
  <tr>
    <td>count()</td>
    <td>패턴의 발생 건수를 집계</td> 
  </tr>
  <tr>
    <td>split()</td>
    <td>str.split()과 동일하지만 정규 표현식을 취함</td> 
  </tr>
  <tr>
    <td>rsplit()</td>
    <td>str.rsplit()과 동일하지만 정규 표현식을 취함</td> 
  </tr>    
</table>

In [11]:
monte.str.extract('([A-Za-z]+)', expand=True)

          0
0    Graham
1      John
2     Terry
3      Eric
4     Terry
5  Maichael

In [12]:
monte.str.findall(r'^[^AEIOU].*[^aeiou]$')

0    [Graham CHapman]
1                  []
2     [Terry Gilliam]
3                  []
4       [Terry Jones]
5    [Maichael Palin]
dtype: object

#### 기타 메서드

<table style="width:100%">
  <tr>
    <th>메서드</th>
    <th>설명</th> 
  </tr>
  <tr>
    <td>get()</td>
    <td>각 요소에 인데스를 지정</td> 
  </tr>
  <tr>
    <td>slice()</td>
    <td>각 요소에 슬라이스를 적용</td> 
  </tr>
  <tr>
    <td>slice_replace()</td>
    <td>각 요소의 슬라이스를 전달된 값으로 대체</td> 
  </tr>
  <tr>
    <td>cat()</td>
    <td>문자열을 연결</td> 
  </tr>
  <tr>
    <td>repeat()</td>
    <td>값을 반복</td> 
  </tr>
  <tr>
    <td>normalize()</td>
    <td>문자열의 유니코드 형태를 반환</td> 
  </tr>
  <tr>
    <td>pad()</td>
    <td>문자열 왼쪽, 오른쪽, 또는 양쪽에 공백을 추가</td> 
  </tr>
  <tr>
    <td>wrap()</td>
    <td>긴 문자열을 주어진 너비보다 짧은 길이의 여러 줄로 나눔</td> 
  </tr>
  <tr>
    <td>join()</td>
    <td>Series의 각 요소에 있는 문자열을 전달된 구분자와 결합</td> 
  </tr>
  <tr>
    <td>get_dummies()</td>
    <td>DataFrame으로 가변수(dummy variable)를 추출</td> 
  </tr>
</table>

In [13]:
monte.str[0:3]

0    Gra
1    Joh
2    Ter
3    Eri
4    Ter
5    Mai
dtype: object

In [14]:
monte.str.split().str.get(-1)

0    CHapman
1     Cleese
2    Gilliam
3       Idle
4      Jones
5      Palin
dtype: object

In [33]:
full_monte = pd.DataFrame({'name': monte, 'info': ['B|C|D', 'B|D', 'A|C', 'B|D', 'B|C', 'B|C|D']})
full_monte

    info            name
0  B|C|D  Graham CHapman
1    B|D     John Cleese
2    A|C   Terry Gilliam
3    B|D       Eric Idle
4    B|C     Terry Jones
5  B|C|D  Maichael Palin

In [34]:
full_monte['info']

0    B|C|D
1      B|D
2      A|C
3      B|D
4      B|C
5    B|C|D
Name: info, dtype: object

In [36]:
full_monte['info'].str.get_dummies('|')

   A  B  C  D
0  0  1  1  1
1  0  1  0  1
2  1  0  1  0
3  0  1  0  1
4  0  1  1  0
5  0  1  1  1

#### 예제: 조리법 데이터베이스

In [35]:
try:
    recipes = pd.read_json('/Users/chosikc/Sites/PythonDataHandbook/recipeitems-latest.json')
except ValueError as e:
    print("ValueError:", e)

ValueError: Trailing data

In [36]:
import numpy as np
import pandas as pd

with open('/Users/chosikc/Sites/PythonDataHandbook/recipeitems-latest.json') as f:
    line = f.readline()

pd.read_json(line).shape

(2, 12)

In [41]:
# 전체 파일을 파이썬 배열에 읽어 드림
with open('/Users/chosikc/Sites/PythonDataHandbook/recipeitems-latest.json', 'r') as f:
    # 각 줄을 추출
    data = (line.strip() for line in f)
    # 각 줄이 리스트의 요소가 되도록 포맷을 재구성
    data_json = "[{0}]".format(','.join(data))
#JSON으로 결과를 읽어 들임
recipes = pd.read_json(data_json)

recipes.shape

(173278, 17)

In [42]:
recipes.iloc[0]

_id                                {'$oid': '5160756b96cc62079cc2db15'}
cookTime                                                          PT30M
creator                                                             NaN
dateModified                                                        NaN
datePublished                                                2013-03-11
description           Late Saturday afternoon, after Marlboro Man ha...
image                 http://static.thepioneerwoman.com/cooking/file...
ingredients           Biscuits\n3 cups All-purpose Flour\n2 Tablespo...
name                                    Drop Biscuits and Sausage Gravy
prepTime                                                          PT10M
recipeCategory                                                      NaN
recipeInstructions                                                  NaN
recipeYield                                                          12
source                                                  thepioneerwoman
totalTime                                                           NaN
ts                                             {'$date': 1365276011104}
url                   http://thepioneerwoman.com/cooking/2013/03/dro...
Name: 0, dtype: object

In [43]:
recipes.ingredients.str.len().describe()

count    173278.000000
mean        244.617926
std         146.705285
min           0.000000
25%         147.000000
50%         221.000000
75%         314.000000
max        9067.000000
Name: ingredients, dtype: float64

In [47]:
recipes.name[np.argmax(recipes.ingredients.str.len())]

/anaconda3/lib/python3.6/site-packages/numpy/core/fromnumeric.py:52: FutureWarning: 'argmax' is deprecated. Use 'idxmax' instead. The behavior of 'argmax' will be corrected to return the positional maximum in the future. Use 'series.values.argmax' to get the position of the maximum now.
  return getattr(obj, method)(*args, **kwds)

'Carrot Pineapple Spice &amp; Brownie Layer Cake with Whipped Cream &amp; Cream Cheese Frosting and Marzipan Carrots'

In [48]:
recipes.description.str.contains('[Bb]reakfast').sum()

3524

In [49]:
recipes.description.str.contains('[Cc]innamon').sum()

2290

In [50]:
recipes.description.str.contains('[Cc]inamon').sum()

1

#### 간단한 조리법 추천 시스템

In [65]:
spice_list = ['salt', 'pepper', 'oregano', 'sage', 'parsley', 'rosemary', 'tarragon', 'thyme', 'paprika', 'cumin']

In [66]:
import re
spice_df = pd.DataFrame(
dict((spice, recipes.ingredients.str.contains(spice, re.IGNORECASE))
    for spice in spice_list))

spice_df.head()

,cumin,oregano,paprika,parsley,pepper,rosemary,sage,salt,tarragon,thyme
0,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,True,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False

In [67]:
selection = spice_df.query('parsley & paprika & tarragon')
len(selection)

10

#### 조리법 더 분석하기